{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1 >hello</h1>
   <div class="form-container">
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <h1>FORM PAGE</h1><br>

        NAME:<input type="text" name="data" required><br><br>

        DATE:<input type="date" name="date" required><br><br>
        
        <input type="submit" value="Submit"><br>
        
        {% if form.errors %}
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
    </form>
   </div>

   <div>
    <h1>DATABASE</h1>
    {% for i in data %}
    <a href="{% url 'deletion' i.id %}"><button>Delete</button></a>
    <p>{{ i.title1 }}</p>
    <p>{{ i.title2 }}</p>
    {% endfor %}
   </div>
</body>
</html>
